@model SysMec.Exp_Medico

@{
    ViewBag.Title = "Eliminar Expediente Médico";
}

<h2>Eliminar Expediente Médico</h2>

<h3>Seguro de eliminar esto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de Expediente Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_expMedico)
        </dd>

        <dt>
            Gineco_obstetricos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_fk_gineco_obstetricos)
        </dd>

        <dt>
            Piel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CM_CAT_ANTECEDENTES_PER_PATOLOGICOS.vc_piel)
        </dd>

        <dt>
            Fracturas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CM_EXP_ANTECEDENTES_QUIRURGICOS_TRAUMATICOS.vc_fracturas)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

        <dt>
            Piel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heredo_familiar.vc_piel)
        </dd>



        <dt>
            Nombre de Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Med_Medico.vc_Nombre_medico)
        </dd>

        <dt>
            Nombre de Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Us_UsuarioExterno.vc_nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
