@model SysMec.Exp_Medico

@{
    ViewBag.Title = "Detalles Expediente Médico";
}

<h5>Detalles Expediente Médico</h5>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de Expediente Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_expMedico)
        </dd>

        <dt>
            Gineco_obstetricos
        </dt>

        <dd>
            @Html.ActionLink("Mostrar detalles", "Details", "GinecoObstreticos", new { id = Model.i_PK_ExpMedico }, null)
        </dd>

        <dt>
           Antecedentes personales patológicos
        </dt>

        <dd>
            @Html.ActionLink("Mostrar detalles", "Details", "AntecedentesPatologicos", new { id = Model.i_PK_ExpMedico }, null)
        </dd>

        <dt>
            Antecedentes quirurgicos y traumaticos
        </dt>

        <dd>
          @Html.ActionLink("Mostrar detalles", "Details", "AntecedentesQuirurgicosTraumaticos", new { id = Model.i_PK_ExpMedico }, null)

        </dd>

        <dt>
            Heredo familiar
        </dt>

        <dd>
           @Html.ActionLink("Mostrar detalles", "Details", "HeredoFamiliar", new { id = Model.i_PK_ExpMedico }, null)
        </dd>

        <dt>
            Nombre de médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Med_Medico.vc_Nombre_medico)
        </dd>

        <dt>
            Nombre de Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Us_UsuarioExterno.vc_nombre)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", "HeredoFamiliar", new { id = Model.i_PK_ExpMedico }, null)  |
    @Html.ActionLink("Regresar", "Index")
</p>
