@model IEnumerable<SysMec.Exp_Medico>

@{
    ViewBag.Title = "Expediente Médico";
}

<h5>Index Expediente Médico</h5>

<p>
    @Html.ActionLink("Crear expediente médico", "Create", "HeredoFamiliar")
    @using (Html.BeginForm())
    {
    <p>
        Búsqueda por número de expediente: @Html.TextBox("id_expediente")
        <input type="submit" value="Buscar" class="btn-primary" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            Fecha de Expediente Médico
        </th>
        <th>
            Gineco_obstetricos
        </th>
        
        <th>
            Fracturas
        </th>
        <th>
            Descrpción
        </th>
        <th>
            Piel
        </th>
       
        <th>
            Nombre de Médico
        </th>
        <th>
           Nombre Usuario
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dt_expMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_fk_gineco_obstetricos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CM_CAT_ANTECEDENTES_PER_PATOLOGICOS.vc_piel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CM_EXP_ANTECEDENTES_QUIRURGICOS_TRAUMATICOS.vc_fracturas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.vc_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heredo_familiar.vc_piel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heredo_familiar1.vc_piel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Med_Medico.vc_Nombre_medico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Us_UsuarioExterno.vc_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.i_PK_ExpMedico }) |
            @Html.ActionLink("Details", "Details", new { id=item.i_PK_ExpMedico }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.i_PK_ExpMedico })
        </td>
    </tr>
}

</table>
