@model IEnumerable<SysMec.Exp_Medico>

@{
    ViewBag.Title = "Expediente Médico";
}

<br /><br /><br />
<p>
    @Html.ActionLink("Crear expediente médico", "Create", "HeredoFamiliar")
    @using (Html.BeginForm())
    {
    <p>
        Búsqueda por número de expediente: @Html.TextBox("id_expediente")
        <input type="submit" value="Buscar" class="btn-primary" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            Número de expediente Médico
        </th>
        <th>
            Fecha de expediente Médico
        </th>
        <th>
           Nombre de usuario
        </th>
        <th>
            Estado
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.i_PK_ExpMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_expMedico)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Us_UsuarioExterno.vc_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.vc_descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", "HeredoFamiliar", new { id = item.i_PK_ExpMedico }, null) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_PK_ExpMedico }) |
            @Html.ActionLink("Activar / Desactivar", "Delete", new { id=item.i_PK_ExpMedico })
        </td>
    </tr>
}

</table>
