@model SysMec.CM_CAT_ANTECEDENTES_PER_PATOLOGICOS

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Seguro que desea Eliminar esto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Piel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_piel)
        </dd>

        <dt>
            Aparato Digestivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_digestivo)
        </dd>

        <dt>
            Aparato Geneto-Urinario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_gene_urinario)
        </dd>

        <dt>
            Sistema Nervioso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sist_nervioso)
        </dd>

        <dt>
            Sistema Musco-Esquelético
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sist_musc_esquele)
        </dd>

        <dt>
            Sistema Endocrinológico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistem_endocri)
        </dd>

        <dt>
            Sistema Cardiovascular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistm_cardio)
        </dd>

        <dt>
            Alergia a
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_alergias)
        </dd>

        <dt>
            Problemas Psicológicos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Problems_psicolo)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
