@model IEnumerable<SysMec.CM_CAT_ANTECEDENTES_PER_PATOLOGICOS>

@{
    ViewBag.Title = " Antecendentes patológicos";
}

<h5>Antecendentes patológicos</h5>

<p>
    @Html.ActionLink("Crear nuevo  antecendente patológico", "Create")
</p>
<p>
    Busqueda de Antecendentes patológicos identificacion de formulario: @Html.TextBox("cedula")
    <input type="submit" value="Buscar" class="btn-primary" />
</p>
<table class="table">
    <tr>
        <th>
            Piel
        </th>
        <th>
            Aparato Digestivo
        </th>
        <th>
            Aparato Geneto-Urinario
        </th>
        <th>
            Sistema Nervioso
        </th>
        <th>
            Sistema Musco-Esquelético
        </th>
        <th>
            Sistema Endocrinológico
        </th>
        <th>
            Sistema Cardiovascular
        </th>
        <th>
            Alergia a
        </th>
        <th>
            Problemas Psicológicos
        </th>
        <th>
           Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_piel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_aparato_digestivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_aparato_gene_urinario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sist_nervioso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sist_musc_esquele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sistem_endocri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sistm_cardio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_alergias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Problems_psicolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.vc_descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_pk_antecents_patologicos }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_pk_antecents_patologicos }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_pk_antecents_patologicos })
        </td>
    </tr>
}

</table>
