@model IEnumerable<SysMec.Us_Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vc_clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_estado_civil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_padre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_madre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Puesto.vc_nombre_puesto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_estado_civil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_padre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_madre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Puesto.vc_nombre_puesto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vc_Pk_id_usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.vc_Pk_id_usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vc_Pk_id_usuario })
        </td>
    </tr>
}

</table>
