@model SysMec.CM_UsuarioExterno

@{
    ViewBag.Title = "Detalles Usuario Externo";
}
<br /><br />
<h5>Detalles Usuario Externo</h5>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cédula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Cedula)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Nombre)
        </dd>

        <dt>
            Primer Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_PriApellido)
        </dd>

        <dt>
            Segundo Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SegApellido)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Telefono)
        </dd>

        <dt>
            Móvil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Movil)
        </dd>

        <dt>
           Sexo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Sexo)
        </dd>

        <dt>
            Correo Electrónico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Email)
        </dd>

        <dt>
            Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Empresa)
        </dd>

    </dl>
</div>
