@model IEnumerable<SysMec.CM_UsuarioExterno>

@{
    ViewBag.Title = "Usuario Externo";
}

<h5>Usuario Externo</h5>

<p>
    @Html.ActionLink("Crear Nuevo Usuario Externo ", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Búsqueda por Cédula de usuario: @Html.TextBox("vc_Cedula")
        <input type="submit" value="Buscar" class="btn-primary" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Cédula
        </th>
        <th>
            Nombre
        </th>
        <th>
            Primer Apellido
        </th>
        <th>
           Segundo Apellido
        </th>
        <th>
            Teléfono
        </th>
        <th>
           Móvil
        </th>
        <th>
           Sexo
        </th>
        <th>
          Correo Electrónico
        </th>
        <th>
           Empresa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_PriApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_SegApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Movil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Empresa)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_Pk_idUsuExterno }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_Pk_idUsuExterno }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_Pk_idUsuExterno })
        </td>
    </tr>
}

</table>
