@model SysMec.Cita

@{
    ViewBag.Title = "Eliminar Cita";
}

<h2>Eliminar cita médica</h2>

<h3>¿Está seguro de eliminar esta cita médica?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cédula de Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_fk_usuario)
        </dd>

        <dt>
            Cédula de Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_fk_medico)
        </dd>

        <dt>
            Fecha y hora de inicio de la cita médica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_hora_inicio)
        </dd>

        <dt>
            Fecha y hora de finalización de la cita médica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_hora_fin)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar cita" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
