@model SysMec.Cita

@{
    ViewBag.Title = "Detalles cita médica";
}

<h5>Detalles  cita médica</h5>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cédula de Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_fk_usuario)
        </dd>

        <dt>
            Cédula de Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_fk_medico)
        </dd>

        <dt>
            Fecha y hora de inicio de la cita médica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_hora_inicio)
        </dd>

        <dt>
            Fecha y hora de finalización de la cita médica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_hora_fin)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.i_pk_cita }) |
    @Html.ActionLink("Regresar", "Index")
</p>
