@model SysMec.Cita

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.i_fk_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_fk_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.i_fk_medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_fk_medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_hora_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_hora_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_hora_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_hora_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.vc_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.i_pk_cita }) |
    @Html.ActionLink("Regresar", "Index")
</p>
