@model IEnumerable<SysMec.Cita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nueva cita médica", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.i_fk_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_fk_medico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_hora_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_hora_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_pk_estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.i_fk_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_fk_medico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_hora_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_hora_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_pk_estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_pk_cita }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_pk_cita }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_pk_cita })
        </td>
    </tr>
}

</table>
