@model IEnumerable<SysMec.Cita>

@{
    ViewBag.Title = "Index";
}

<br /><br />

<h5>Gestión de cita médica</h5>


<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    <link type="text/css" rel="stylesheet" href="~/Views/Citas/calendario.css">
    <script type="text/javascript" src="~/Views/Citas/calendario.js"></script>
</head>
<body>
    <div id="calendar-container">
        <div id="calendar-header">
            <span id="calendar-month-year"></span>
        </div>
        <div id="calendar-dates">
        </div>
    </div>
</body>
</html>


<p>
    @Html.ActionLink("Crear nueva cita médica", "Create")
    @using (Html.BeginForm())
    {
        <p>
            Búsqueda de cita médica por cédula de usuario: @Html.TextBox("cedula")
            <input type="submit" value="Buscar" class="btn-primary"/>
        </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            Cédula de Usuario
        </th>
        <th>
            Cédula de Médico
        </th>
        <th>
            Fecha y hora de cita médica
        </th>
        @*<th>
            Fecha y hora de finalización de la cita médica
        </th>*@
        <th>
           Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.i_fk_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_fk_medico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_hora_inicio)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.dt_hora_fin)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Estado.vc_descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_pk_cita }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_pk_cita }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_pk_cita })
        </td>
    </tr>
}

</table>
