@model SysMec.Cat_HorarioServicio

@{
    ViewBag.Title = "Eliminar Horario Servicio Médico ";
}

<h5>Eliminar Horario Servicio Médico</h5>

<h3>¿Está seguro(a) de eliminar esto?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hora de Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_HoraInicio)
        </dd>

        <dt>
            Hora Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_HoraFinal)
        </dd>

        <dt>
            Día de Servicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_DiaServicio)
        </dd>

        <dt>
            Identificación De Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CM_Medico.i_Pk_idMedico)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
