@model SysMec.Cat_HorarioServicio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cat_HorarioServicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.t_HoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_HoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_HoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_HoraFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_DiaServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_DiaServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CM_Medico.i_Pk_idMedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CM_Medico.i_Pk_idMedico)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
