@model SysMec.Cat_HorarioServicio

@{
    ViewBag.Title = "Detalles Horario Servicio Médico";
}
<br /><br />
<h5>Detalles Horario Servicio Médico</h5>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hora de Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_HoraInicio)
        </dd>

        <dt>
            Hora Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_HoraFinal)
        </dd>

        <dt>
            Día de Servicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_DiaServicio)
        </dd>

        <dt>
            Identificación De Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CM_Medico.i_Pk_idMedico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.i_Pk_idHoraServicio }) |
    @Html.ActionLink("Regresar", "Index")
</p>
