@model IEnumerable<SysMec.Cat_HorarioServicio>

@{
    ViewBag.Title = "Horario Servicio Médico";
}
<br /><br />
<h5>Horario Servicio Médico</h5>

<p>
    @Html.ActionLink("Crear Horario Servicio Médico", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Hora de inicio
        </th>
        <th>
            Hora final
        </th>
        <th>
            Día de servicio
        </th>
        <th>
            Nombre del médico
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.t_HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_HoraFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_DiaServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CM_Medico.Funcionarios.vc_Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_Pk_idHoraServicio }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_Pk_idHoraServicio }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_Pk_idHoraServicio })
        </td>
    </tr>
}

</table>
