@model SysMec.Exp_GinecoObstreticos

@{
    ViewBag.Title = "Eliminar Antecedentes Gineco-Obstréticos";
}

<h5>Eliminar  Antecedentes Gineco-Obstréticos</h5>

<h3>¿Está seguro(a) de eliminar esto?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Menarca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Menarca)
        </dd>

        <dt>
            Fur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Fur)
        </dd>

        <dt>
            Relaciones Sexuales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_RelacionesSexuales)
        </dd>

        <dt>
            Planifica :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Planificar)
        </dd>

        <dt>
            Ritmo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Ritmo)
        </dd>

        <dt>
            Método
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Metodo)
        </dd>

        <dt>
            Duración
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Duracion)
        </dd>

        <dt>
            Partos Eutócicos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_PartosEutocicos)
        </dd>

        <dt>
            Forceps
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Forceps)
        </dd>

        <dt>
            Cesáreas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Cesareas)
        </dd>

        <dt>
            Flujos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Flujos)
        </dd>

        <dt>
            Sangrado Anormal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SangradoAnormal)
        </dd>

        <dt>
            Pap
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Pap)
        </dd>

        <dt>
            Fecha del último Pap
        </dt>

        <dd>
            @Html.DisplayFor(model => model.d_pap)
        </dd>

        <dt>
            Resultado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_resultado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
