@model SysMec.CM_Cita

@{
    ViewBag.Title = "Solicitar cita Médica";
}

<h2>Solicitar cita médica</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Funcionarios.vc_Cedula, "Cedula del Funcionario: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("i_Fk_Funcionario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Funcionarios.vc_Cedula, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Funcionarios.vc_PrimerApellido, "Apellido: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("vc_PrimerApellido", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Funcionarios.vc_PrimerApellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_Fk_idMedico, "Identificación de Médico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("i_Fk_idMedico", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.i_Fk_idMedico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.i_Fk_idEstCita, "Estado cita", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("i_Fk_idEstCita", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.i_Fk_idEstCita, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.b_PrimeraVez, "  Primera Vez", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.b_PrimeraVez)
                    @Html.ValidationMessageFor(model => model.b_PrimeraVez, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
