@model SysMec.CM_Cita

@{
    ViewBag.Title = "Eliminar Cita Médica";
}

<h5>Eliminar Cita Médica</h5>

<h3>¿Está seguro(a) de eliminar esto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de Cita
        </dt>

        <dd>
            @Html.DisplayFor(model => model.d_fechaCita)
        </dd>

        <dt>
            Hora de Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_HoraInicio)
        </dd>

        <dt>
            Hora de Fin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_HoraFin)
        </dd>

        <dt>
            Observación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Obervacion)
        </dd>

        <dt>
            Primera Vez
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_PrimeraVez)
        </dd>

        <dt>
            Descripción de Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_EstadoCita.vc_DescEstado)
        </dd>

        <dt>
            Identificación de Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CM_Medico.i_Pk_idMedico)
        </dd>

        <dt>
            Identificación de Usuario Externo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CM_UsuarioExterno.vc_Cedula)
        </dd>

        <dt>
            Identificación de Funcionario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionarios.vc_Cedula)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
