@model IEnumerable<SysMec.CM_Cita>

@{
    ViewBag.Title = "Cita Médica";
}
<br /><br />
<h5>Cita Médica</h5>

<p>
    @Html.ActionLink("Crear Cita Médica", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Búsqueda por cedula de funcionario: @Html.TextBox("cedula")
        <input type="submit" value="Buscar" class="btn-primary" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Fecha de Cita
        </th>
        <th>
           Hora de Inicio
        </th>
        <th>
           Hora de Fin
        </th>
        <th>
            Identificación de Usuario Externo
        </th>
        <th>
            Identificación de Funcionario
        </th>
        <th>
            Nombre del médico
        </th>
        <th>
            Primera Vez
        </th>
        <th>
            Descripción de Estado
        </th>
        <th>
            Observación
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.d_fechaCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_HoraFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CM_UsuarioExterno.vc_Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionarios.vc_Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CM_Medico.Funcionarios.vc_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_PrimeraVez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cat_EstadoCita.vc_DescEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Obervacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_Pk_idCita }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_Pk_idCita }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_Pk_idCita })
        </td>
    </tr>
}

</table>
