@model SysMec.Exp_AnteQuirurTrauma

@{
    ViewBag.Title = "Eliminar Antecedentes Quirúrgico y Traumáticos";
}

<h5>Eliminar Antecedentes Quirúrgico y Traumáticos</h5>

<h3>¿Está seguro(a) de eliminar esto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fracturas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Fracturas)
        </dd>

        <dt>
            Fractura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.d_Fractura)
        </dd>

        <dt>
            ¿Donde?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_FracDonde)
        </dd>

        <dt>
            Cirugías
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Cirugias)
        </dd>

        <dt>
            Cirugía
        </dt>

        <dd>
            @Html.DisplayFor(model => model.d_Cirugia)
        </dd>

        <dt>
            ¿Donde?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_CiruDonde)
        </dd>

        <dt>
            Accidentes No Laborales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_AcciNoLaborales)
        </dd>

        <dt>
            Accidentes Laborales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_AcciLaborales)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
