@model SysMec.Exp_AnteQuirurTrauma

@{
    ViewBag.Title = "Detalles Antecedentes Quirúrgico y Traumáticos";
}

<h5>Detalles Antecedentes Quirúrgicos y Traumáticos</h5>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fracturas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Fracturas)
        </dd>

        <dt>
            Fractura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.d_Fractura)
        </dd>

        <dt>
            ¿Donde?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_FracDonde)
        </dd>

        <dt>
            Cirugías
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Cirugias)
        </dd>

        <dt>
            Cirugía
        </dt>

        <dd>
            @Html.DisplayFor(model => model.d_Cirugia)
        </dd>

        <dt>
            ¿Donde?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_CiruDonde)
        </dd>

        <dt>
            Accidentes No Laborales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_AcciNoLaborales)
        </dd>

        <dt>
            Accidentes Laborales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_AcciLaborales)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.i_Pk_QuirurTrauma }) |
    @Html.ActionLink("Regresar", "Index")
</p>
