@model IEnumerable<SysMec.Exp_AnteQuirurTrauma>

@{
    ViewBag.Title = "Antecedentes Quirúrgico y Traumáticos";
}

<h5>Antecedentes Quirúrgico y Traumáticos</h5>

<p>
    @Html.ActionLink("Crear Antecedente Quirúrgico y Traumático", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Fracturas
        </th>
        <th>
           Fractura
        </th>
        <th>
            ¿Donde?
        </th>
        <th>
            Cirugías
        </th>
        <th>
            Cirugía
        </th>
        <th>
            ¿Donde?
        </th>
        <th>
           Accidentes No Laborales
        </th>
        <th>
            Accidentes No Laborales
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.b_Fracturas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_Fractura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_FracDonde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Cirugias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_Cirugia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_CiruDonde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_AcciNoLaborales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_AcciLaborales)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_Pk_QuirurTrauma }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_Pk_QuirurTrauma }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_Pk_QuirurTrauma })
        </td>
    </tr>
}

</table>
