@model IEnumerable<SysMec.Exp_AnteQuirurTrauma>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.b_Fracturas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_Fractura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_FracDonde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Cirugias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_Cirugia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_CiruDonde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_AcciNoLaborales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_AcciLaborales)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.b_Fracturas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_Fractura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_FracDonde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Cirugias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_Cirugia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_CiruDonde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_AcciNoLaborales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_AcciLaborales)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.i_Pk_QuirurTrauma }) |
            @Html.ActionLink("Details", "Details", new { id=item.i_Pk_QuirurTrauma }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.i_Pk_QuirurTrauma })
        </td>
    </tr>
}

</table>
