@model SysMec.Gineco_Obstreticos

@{
    ViewBag.Title = "Detalles gineco-Obstréticos";
}

<h5>Detalles gineco-Obstréticos</h5>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Menarca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_menarca)
        </dd>

        <dt>
           Fur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_fur)
        </dd>

        <dt>
            Relaciones Sexuales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_relaciones_sexuales)
        </dd>

        <dt>
           Planifica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_planificar)
        </dd>

        <dt>
            Ritmo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ritmo)
        </dd>

        <dt>
            Método
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_metodo)
        </dd>

        <dt>
            Duración
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_duracion)
        </dd>

        <dt>
            Partos Eutócicos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_partos_eutocicos)
        </dd>

        <dt>
            Forceps
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_forceps)
        </dd>

        <dt>
            Cesáreas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_cesareas)
        </dd>

        <dt>
           Flujos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_flujos)
        </dd>

        <dt>
            Sangrado Anormal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sangrados_anormales)
        </dd>

        <dt>
         Pap
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_pap)
        </dd>

        <dt>
            Fecha del últimp Pap
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_pap)
        </dd>

        <dt>
          Resultado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_resultado)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.i_pk_gineco_obstetricos }) |
    @Html.ActionLink("Regresar", "Index")
</p>
