@model IEnumerable<SysMec.Gineco_Obstreticos>

@{
    ViewBag.Title = "Index Formulario de gineco-Obstréticos";
}

<h5>Formulario de gineco-Obstréticos</h5>

<p>
    @Html.ActionLink("Crear Nuevo Formulario de gineco-Obstréticos", "Create")
</p>

<p>
    Busqueda de gineco-Obstreticos por identificacion de formulario: @Html.TextBox("identificacion")
    <input type="submit" value="Buscar" class="btn-primary" />
</p>
<table class="table">
    <tr>
        <th>
           Menarca
        </th>
        <th>
            FUR
        </th>
        <th>
           Relaciones Sexuales
        </th>
        <th>
            Planifica
        </th>
        <th>
           Ritmo
        </th>
        <th>
            Método
        </th>
        <th>
            Duración
        </th>
        <th>
           Partos Eutócicos
        </th>
        <th>
            Forceps
        </th>
        <th>
            Cesáreas
        </th>
        <th>
            Flujos
        </th>
        <th>
           Sangrado Anormal
        </th>
        <th>
            Pap
        </th>
        <th>
            Fecha del últimp Pap
        </th>
        <th>
            Resultado
        </th>
        <th>
            Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_menarca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_fur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_relaciones_sexuales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_planificar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_ritmo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_metodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_partos_eutocicos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_forceps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_cesareas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_flujos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sangrados_anormales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_pap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_pap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_resultado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.vc_descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_pk_gineco_obstetricos }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_pk_gineco_obstetricos }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_pk_gineco_obstetricos })
        </td>
    </tr>
}

</table>
