@model SysMec.Exp_HeredoFamiliar

@{
    //ViewBag.Title = "Crear Antecedentes Heredo-Familiares";
    Layout = null;
}

<h5>Crear Antecedentes Heredo-Familiares</h5>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.vc_Piel,"Piel", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_Piel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_Piel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_ApaRespiratorio, "Aparato Respiratorio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_ApaRespiratorio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_ApaRespiratorio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_ApaDigestivo, "Aparato Digestivo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_ApaDigestivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_ApaDigestivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_ApaGenetoUrinario, "Aparato Geneto-Urinario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_ApaGenetoUrinario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_ApaGenetoUrinario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_SisNervioso, "Sistema Nervioso", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_SisNervioso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_SisNervioso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_SisMuscoEsque, "Sistema Musco-Esquelético", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_SisMuscoEsque, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_SisMuscoEsque, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_SisEndocrino, "Sistema Endocrinológico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_SisEndocrino, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_SisEndocrino, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_SisCardio, "Sistema Cardiovascular", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_SisCardio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_SisCardio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_Alergias, "Alegias a :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_Alergias, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_Alergias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_Cancer, " Cáncer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_Cancer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_Cancer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_ProbPsicosomaticos, "Problemas Psicosomáticos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_ProbPsicosomaticos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_ProbPsicosomaticos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vc_PadeActual, "Padecimiento actual", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_PadeActual, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_PadeActual, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Siguiente" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
