@model SysMec.Exp_HeredoFamiliar

@{
    ViewBag.Title = "Eliminar Antecedentes Heredo-Familiares";
}

<h2>Eliminar Antecedentes Heredo-Familiares</h2>

<h3>¿Está seguro(a) de eliminar esto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Piel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Piel)
        </dd>

        <dt>
            Aparato Respiratorio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ApaRespiratorio)
        </dd>

        <dt>
            Aparato Digestivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ApaDigestivo)
        </dd>

        <dt>
            Aparato Geneto-Urinario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ApaGenetoUrinario)
        </dd>

        <dt>
            Sistema Nervioso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisNervioso)
        </dd>

        <dt>
            Sistema Musco-Esquelético
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisMuscoEsque)
        </dd>

        <dt>
            Sistema Endocrinológico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisEndocrino)
        </dd>

        <dt>
            Sistema Cardiovascular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisCardio)
        </dd>

        <dt>
            Alegias a :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Alergias)
        </dd>

        <dt>
            Cáncer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Cancer)
        </dd>

        <dt>
            Problemas Psicosomáticos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ProbPsicosomaticos)
        </dd>

        <dt>
            Padecimiento actual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_PadeActual)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
