@model SysMec.Exp_HeredoFamiliar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exp_HeredoFamiliar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vc_Piel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Piel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_ApaRespiratorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ApaRespiratorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_ApaDigestivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ApaDigestivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_ApaGenetoUrinario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ApaGenetoUrinario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_SisNervioso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisNervioso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_SisMuscoEsque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisMuscoEsque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_SisEndocrino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisEndocrino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_SisCardio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisCardio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_Alergias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Alergias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_Cancer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Cancer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_ProbPsicosomaticos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ProbPsicosomaticos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_PadeActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_PadeActual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.i_Pk_HereFamiliar }) |
    @Html.ActionLink("Back to List", "Index")
</p>
