@model IEnumerable<SysMec.Exp_HeredoFamiliar>

@{
    ViewBag.Title = "Antecedentes Heredo-Familiares";
}

<h5>Antecedentes Heredo-Familiares</h5>

<p>
    @Html.ActionLink("Crear Antecedentes Heredo-Familiares", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Piel
        </th>
        <th>
            Aparato Respiratorio
        </th>
        <th>
            Aparato Digestivo
        </th>
        <th>
            Aparato Geneto-Urinario
        </th>
        <th>
            Sistema Nervioso
        </th>
        <th>
            Sistema Musco-Esquelético
        </th>
        <th>
            Sistema Endocrinológico
        </th>
        <th>
            Sistema Cardiovascular
        </th>
        <th>
            Alegias a :
        </th>
        <th>
            Cáncer
        </th>
        <th>
            Problemas Psicosomáticos
        </th>
        <th>
            Padecimiento actual
        </th>
        <th>
           Otros
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vc_Piel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_ApaRespiratorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_ApaDigestivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_ApaGenetoUrinario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_SisNervioso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_SisMuscoEsque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_SisEndocrino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_SisCardio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_Alergias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_Cancer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_ProbPsicosomaticos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_PadeActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vc_otros)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.i_Pk_HereFamiliar }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.i_Pk_HereFamiliar }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.i_Pk_HereFamiliar })
            </td>
        </tr>
    }

</table>
