@model IEnumerable<SysMec.Emp_Puesto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vc_nombre_puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Empresa.vc_nombre_empresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_nombre_puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Empresa.vc_nombre_empresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vc_PK_id_puesto }) |
            @Html.ActionLink("Details", "Details", new { id=item.vc_PK_id_puesto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vc_PK_id_puesto })
        </td>
    </tr>
}

</table>
