@model SysMec.Us_UsuarioExterno

@{
    ViewBag.Title = "Eliminar usuario de convenios";
}

<h2>Eliminar usuario de convenios</h2>

<h5>¿Está seguro de eliminar esto?</h5>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_nombre)
        </dd>

        <dt>
            Primer Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_apellido1)
        </dd>

        <dt>
            Segundo Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_apellido2)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_direccion)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_telefono)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_nacimiento)
        </dd>

        <dt>
            Sexo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sexo)
        </dd>

        <dt>
            Correo Elctrónico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_email)
        </dd>

        <dt>
            Puesto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_puesto)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
