@model SysMec.Us_UsuarioExterno

@{
    ViewBag.Title = "Detalles usuario de convenios";
}

<h5>Detalles usuario de convenios</h5>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_nombre)
        </dd>

        <dt>
           Primer Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_apellido1)
        </dd>

        <dt>
            Segundo Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_apellido2)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_direccion)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_telefono)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_nacimiento)
        </dd>

        <dt>
           Sexo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sexo)
        </dd>

        <dt>
            Correo Elctrónico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_email)
        </dd>

        <dt>
            Puesto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_puesto)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.i_PK_id_usuario }) |
    @Html.ActionLink("Regresar", "Index")
</p>
