@model IEnumerable<SysMec.Us_UsuarioExterno>

@{
    ViewBag.Title = "usuario de convenios";
}

<h2>Gestión usuario convenio</h2>

<p>
    @Html.ActionLink("Crear nuevo usuario de convenios", "Create")
    @using (Html.BeginForm())
    {
    <p>
        Busqueda de usuario por cedula: @Html.TextBox("cedula")
        <input type="submit" value="Buscar" class="btn-primary" />
    </p>
    }
<table class="table">
    <tr>
        <th>
           Nombre
           
        </th>
        <th>
            Primer Apellido
        </th>
        <th>
            Segundo Apellido
        </th>
        <th>
            Dirección
        </th>
        <th>
           Teléfono
        </th>
        <th>
            Fecha de Nacimiento
        </th>
        <th>
            Sexo
        </th>
        <th>
            Correo Elctrónico
        </th>
        <th>
           Puesto
        </th>
        <th>
            Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_apellido1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_apellido2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.vc_descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_PK_id_usuario }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_PK_id_usuario }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_PK_id_usuario })
        </td>
    </tr>
}

</table>
