@model SysMec.Heredo_familiar

@{
    ViewBag.Title = "Detalles Heredo-Familiares";
}

<h5>Detalles Heredo-Familiares</h5>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Piel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_piel)
        </dd>

        <dt>
            Aparato Respiratorio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_respiratorio)
        </dd>

        <dt>
            Aparato Digestivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_digestivo)
        </dd>

        <dt>
            Aparato Geneto-Urinario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_geneto_urinario)
        </dd>

        <dt>
            Sistema Nervioso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_nervioso)
        </dd>

        <dt>
            Sistema Musco-Esquelético
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_musco_esque)
        </dd>

        <dt>
            Sistema Endocrinológico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_endocrino)
        </dd>

        <dt>
            Sistema Cardiovascular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_cardio)
        </dd>

        <dt>
            Alergias a 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_alergias)
        </dd>

        <dt>
            Cáncer 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_cancer)
        </dd>

        <dt>
            Problemas Psicosomáticos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_problemas_psicosomaticos)
        </dd>

        <dt>
            Padecimiento Actual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_padecimiento_actual)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>
</div>
<p>
   @Html.ActionLink("Regresar", "Details", "ExpedienteMedico", new { id = Model.i_pk_heredo_famili }, null)
</p>
