@model SysMec.Heredo_familiar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Heredo_familiar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vc_piel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_piel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_aparato_respiratorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_respiratorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_aparato_digestivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_digestivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_aparato_geneto_urinario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_geneto_urinario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_sistema_nervioso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_nervioso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_sistema_musco_esque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_musco_esque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_sistema_endocrino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_endocrino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_sistema_cardio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_cardio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_alergias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_alergias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_cancer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_cancer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_problemas_psicosomaticos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_problemas_psicosomaticos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_padecimiento_actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_padecimiento_actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.vc_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.i_pk_heredo_famili }) |
    @Html.ActionLink("Back to List", "Index")
</p>
