@model IEnumerable<SysMec.Heredo_familiar>

@{
    ViewBag.Title = "Antecedentes Heredo-Familiares";
}

<h5>Antecedentes Heredo-Familiares</h5>

<p>
    @Html.ActionLink("Crear Nuevo Formulario de Antecedentes Heredo-Familiares", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Piel
        </th>
        <th>
            Aparato Respiratorio
        </th>
        <th>
            Aparato Digestivo
        </th>
        <th>
            Aparato Geneto-Urinario
        </th>
        <th>
            Sistema Nervioso
        </th>
        <th>
            Sistema Musco-Esquelético
        </th>
        <th>
            Sistema Endocrinológico
        </th>
        <th>
            Sistema Cardiovascular
        </th>
        <th>
            Alergias a 
        </th>
        <th>
            Cáncer 
        </th>
        <th>
            Problemas Psicosomáticos
        </th>
        <th>
            Padecimiento Actual
        </th>
        <th>
           Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_piel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_aparato_respiratorio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_aparato_digestivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_aparato_geneto_urinario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sistema_nervioso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sistema_musco_esque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sistema_endocrino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_sistema_cardio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_alergias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_cancer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_problemas_psicosomaticos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_padecimiento_actual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.vc_descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_pk_heredo_famili }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_pk_heredo_famili }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_pk_heredo_famili })
        </td>
    </tr>
}

</table>
