@model SysMec.Exp_AntPersoPatolog

@{
    ViewBag.Title = "Detalles Antecedentes Personales Patológicos";
}

<h5>Detalles Antecedentes Personales Patológicos</h5>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Piel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Piel)
        </dd>

        <dt>
            Aparato Digestivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ApaDigestivo)
        </dd>

        <dt>
            Aparato Geneto-Urinario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ApaGeneUrinario)
        </dd>

        <dt>
            Sistema Nervioso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisNervioso)
        </dd>

        <dt>
            Sistema Musco-Esquelético
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisMuscEsquele)
        </dd>

        <dt>
            Sistema Endocrino
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisEndocri)
        </dd>

        <dt>
            Sistema CardioVascular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_SisCardio)
        </dd>

        <dt>
            Alergias a :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Alergias)
        </dd>

        <dt>
            Problemas Psicológicos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ProblemPsicolo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.i_Pk_AntPatologicos }) |
    @Html.ActionLink("Regresar", "Index")
</p>
