@model IEnumerable<SysMec.Exp_AntPersoPatolog>

@{
    ViewBag.Title = "Index  Antecedentes Personales Patológicos";
}

<h2>Index  Antecedentes Personales Patológicos</h2>

<p>
    @Html.ActionLink("Crear nuevo Antecedentes Personales Patológicos", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Piel
        </th>
        <th>
            Aparato Digestivo
        </th>
        <th>
            Aparato Geneto-Urinario
        </th>
        <th>
            Sistema Nervioso
        </th>
        <th>
            Sistema Musco-Esquelético
        </th>
        <th>
            Sistema Endocrino
        </th>
        <th>
            Sistema CardioVascular
        </th>
        <th>
            Alergias a :
        </th>
        <th>
            Problemas Psicológicos
        </th>
       
        <th>
           Otros
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Piel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_ApaDigestivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_ApaGeneUrinario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_SisNervioso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_SisMuscEsquele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_SisEndocri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_SisCardio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_Alergias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_ProblemPsicolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_otros)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.i_Pk_AntPatologicos }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.i_Pk_AntPatologicos }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.i_Pk_AntPatologicos })
        </td>
    </tr>
}

</table>
