@model SysMec.Personales_Patologico

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personales_Patologico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vc_piel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_piel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_aparato_resp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_resp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_aparato_digestivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_digestivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_aparato_geneto_U)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_aparato_geneto_U)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_sistema_nervioso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_nervioso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_sistema_musc_esquele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_musc_esquele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_sistema_endocrinolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_endocrinolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_sistema_cariodv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_sistema_cariodv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_alergias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_alergias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_proble_psicologicos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_proble_psicologicos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.vc_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
