@model SysMec.Ci_Cita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ci_Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dt_hora_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_hora_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_hora_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_hora_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Med_Medico.vc_Nombre_Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Med_Medico.vc_Nombre_Medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Us_Usuario.vc_clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Us_Usuario.vc_clave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.i_PK_id_cita }) |
    @Html.ActionLink("Regresar", "Index")
</p>
