@model IEnumerable<SysMec.Ci_Cita>

@{
    ViewBag.Title = "Index";
    var id = @Request.Params["id_Cita"];
    int id_cita = Convert.ToInt32(id);
}

<h2>Gestión de citas médicas</h2>

<p>
    @Html.ActionLink("Crear nueva cita", "Create")
</p>

<form action="~/Views/Ci_Cita/Busqueda" method="get">
    <label>Ingrese el identificador de la cita a buscar</label>
    <input type="number" id="id_Cita" />
    <input type="submit" />
</form>

<table class="table">
    <tr>
        <th>
            Indentificador de la cita
        </th>
        <th>
            Fecha y hora de inicio
        </th>
        <th>
            Fecha y hora finalización
        </th>
        <th>
            Médico
        </th>
        <th>
           Usuario
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (id_cita == item.i_PK_id_cita)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.i_PK_id_cita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_hora_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_hora_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Med_Medico.vc_Nombre_Medico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Us_Usuario.vc_clave)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.i_PK_id_cita }) |
            @Html.ActionLink("Detalles", "Busqueda", new { id = item.i_PK_id_cita }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.i_PK_id_cita })
        </td>
    </tr>
    }
}

</table>
