@model SysMec.Emp_Empresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emp_Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vc_nombre_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_nombre_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.i_telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.vc_PK_id_empresa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
