@model SysMec.Med_Medico

@{
    ViewBag.Title = "Detalles  horario de atención médica";
}

<h5>Detalles  horario de atención médica</h5>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Nombre_medico)
        </dd>

        <dt>
            Primer Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_primer_apellido)
        </dd>

        <dt>
            Segundo Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_segundo_apellido)
        </dd>

        <dt>
            Especialidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_Especialidad)
        </dd>

        <dt>
            Turno de Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_turno_inicio)
        </dd>

        <dt>
            Turno de fin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_turno_fin)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.i_pk_id_medico }) |
    @Html.ActionLink("Regresar", "Index")
</p>
