@model SysMec.CM_EXP_ANTECEDENTES_QUIRURGICOS_TRAUMATICOS

@{
    ViewBag.Title = "Eliminar Antecedentes Quirúrgicos y traumáticos";
}

<h5>Eliminar Antecedentes Quirúrgicos y traumáticos</h5>

<h3>Seguro que desea Eliminar esto?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fracturas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_fracturas)
        </dd>

        <dt>
            ¿Donde?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_donde)
        </dd>

        <dt>
            Fecha de Fractura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_fractura)
        </dd>

        <dt>
            Cirugías
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_cirugias)
        </dd>

        <dt>
            ¿Donde?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_cirugias_donde)
        </dd>

        <dt>
            Fecha de Cirugía
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_cirugia)
        </dd>

        <dt>
            Accidentes NO Laborales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_acci_no_laborales)
        </dd>

        <dt>
            Accidentes  Laboraleses
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_acci_laborales)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
