@model SysMec.CM_EXP_ANTECEDENTES_QUIRURGICOS_TRAUMATICOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CM_EXP_ANTECEDENTES_QUIRURGICOS_TRAUMATICOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vc_fracturas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_fracturas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_donde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_donde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_fractura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_fractura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_cirugias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_cirugias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_cirugias_donde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_cirugias_donde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_cirugia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_cirugia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_acci_no_laborales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_acci_no_laborales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_acci_laborales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_acci_laborales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.vc_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.vc_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.i_pk_quirurgicos_traumati }) |
    @Html.ActionLink("Back to List", "Index")
</p>
