@model IEnumerable<SysMec.CM_EXP_ANTECEDENTES_QUIRURGICOS_TRAUMATICOS>

@{
    ViewBag.Title = "Antecedentes Quirúrgicos y traumáticos";
}

<h5>Antecedentes Quirúrgicos y traumáticos</h5>

<p>
    @Html.ActionLink("Crear nuevo Formulario de Antecedentes Quirúrgicos y traumáticos ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fracturas
        </th>
        <th>
            ¿Donde?
        </th>
        <th>
            Fecha de Fractura
        </th>
        <th>
            Cirugías
        </th>
        <th>
            ¿Donde?
        </th>
        <th>
            Fecha de Cirugía
        </th>
        <th>
            Accidentes NO Laborales
        </th>
        <th>
            Accidentes  Laborales
        </th>
        <th>
            Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_fracturas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_donde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_fractura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_cirugias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_cirugias_donde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_cirugia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_acci_no_laborales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_acci_laborales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.vc_descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.i_pk_quirurgicos_traumati }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.i_pk_quirurgicos_traumati }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.i_pk_quirurgicos_traumati })
        </td>
    </tr>
}

</table>
